@page "/Hakkimizda"
@inject IJSRuntime JS
<PageTitle>Koçak Veteriner | HAKKIMIZDA</PageTitle>


<html>
  <head>
  <title>Koçak Veteriner | HAKKIMIZDA</title>
  <link rel="Shortcut Icon"  href="imgs/logo.png"  type="image/x-icon" >
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  </head>
  
  <body>
    <div width="900" align="center">
      <div align="center"><img src="imgs/bannerbg.png" width="900" height="200" /></div>
      <div id="logo1"><a href="Anasayfa.html"></a>
      </div>
  
  <div class="footer">
    <ul class="footer">
    <li><a href="/">ANASAYFA</a></li>
    <li><a href="/Hakkimizda">HAKKIMIZDA</a></li>
    <li><a href="/Iletisim">İLETİŞİM</a></li>
    <li><a href="/Randevugiris">RANDEVU AL +</a></li>
      </ul>
  </div> 
  <table>
    <tr>
    <td></td>
    </tr>
  </table>
  <div class="cerceve">
    <h1>HAKKIMIZDA</h1>
    <p>
        Hayatlarımıza renk katan küçük dostlarımızı iyileştirmek, mutlu kılmak ve mutlu olmak için yaşam, emek  ve sevgi harmanlı yolda yürümeye devam etmekteler. 
        Bir veteriner hekimin mesleğini uygulayabilmesi için bazı tıbbi cihazlara gereksinimi vardır.
        Ancak tanısal teknolojik donanım zenginliği bir hekimi her zaman iyi hekim yapmaz. 
        Bir veteriner hekim, çeşitli tanı ve tedavi yöntemlerini uygulamadan önce, hastanın ve hastalığın özelliklerini göz önünde bulundurup, onu risk altına sokacak yöntemlerden kaçınıp, tanısal incelemelerde hasta sahibine yansıyan maliyeti de gözeterek en emin, uygun ve gerekli yolu seçmelidir.
        
    
       
   
      <div align="center">
        <img src="/imgs/hakkımızda1jpg.jpg" width="700" height="300" >
      </div>
    </p>
    Kısacası her şeyi yapabiliyor olmak ve tüm olanaklara sahip olmak, her zaman iyi veteriner hekim olmanın koşulu değildir.
    Biz, veteriner hekimliğin sanat olduğuna inanıyoruz. Bir hastaya dokunmanın, onun patisini okşamanın, sahibinin sıkıntısını paylaşmanın ölçütü yoktur. 
    Veteriner Hekim, hastanın sadece problemine değil, bütününe odaklanmalıdır. Bu holistik bakış açısı ile hastaya yaklaşılmazsa, hekim değil tamirci olunur. 
    Bizim sorumlu olduğumuz obje, makine değil, belli bir sistem içerisinde devamlılığını sürdüren bir canlıdır.

    <p>
      
      <div align="center">
        <img src="imgs/hakkımızda2.jpg" width="700" height="300" >
      </div>
      Şablon ve kalıplarla tedavi yapmaya çalışmak ruhu aramak için otopsi yapmaktır.
      Oysa bizim için her bir hasta ayrı bir süreçtir. Her hastanın tedaviye vereceği yanıt da farklı olabilir. 21. y.y da klasik tıp uygulamaları yerini bireysel tıbba bırakacaktır.
      Hasta yararı bizler için her zaman ve her koşulda her şeyin üstündedir.
      Bu ilke ve sorumlulukla dün olduğu gibi bugün de bu yürekle bu mesleği sürdürüyoruz..
   
      <div align="center">
        <img src="" width="300">
      </div>
    </p>
   </div>
  <div align="center"><img src="imgs/footerbg.png" width="900" height="250" /> 
    </div>
    </div>
  </body>
  </html>
  