@page "/Cart5"
@inject IJSRuntime JS
<PageTitle>Koçak Veteriner | Küçük Dostlarımızı Biz Hasta Ediyor Olabilir Miyiz?  </PageTitle>

<html>
  <head>
  <title>Koçak Veteriner | Küçük Dostlarımızı Biz Hasta Ediyor Olabilir Miyiz? </title>
  <link rel="Shortcut Icon"  href="../imgs/logo.png"  type="image/x-icon" >
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  </head>
  
  <body>
    <div width="900" align="center">
      <div align="center"><img src="../imgs/bannerbg.png" width="900" height="200" /></div>
      <div id="logo1"><a href="Anasayfa.html"></a>
      </div>
  
  <div class="footer">
    <ul class="footer">
        <li><a href="/">ANASAYFA</a></li>
        <li><a href="/Hakkimizda">HAKKIMIZDA</a></li>
        <li><a href="/Iletisim">İLETİŞİM</a></li>
        <li><a href="/Randevugiris">RANDEVU AL +</a></li>
      </ul>
  </div> 
  <table>
    <tr>
    <td></td>
    </tr>
  </table>
  <div class="cerceve">
    <h1>Küçük Dostlarımızı Biz Hasta Ediyor Olabilir Miyiz?</h1>
    <div align="center">
      <img src="../imgs/kedi5.jpg" width="450" height="300">
    </div>
<p>    
Hayvanlar, sahipleri yüzünden hasta oluyor. Bunu ‘’Hayvanların Doğal İyileşmesi’’kitabının yazarı  Patricia Ann Hellinger  diyor. Evde baktığımız kediler köpeklerde görülen hastalıklar, sahipleri olarak bizlerin yaşadığı hastalıkların aynı. Onlarda da;mide problemleri, göz kulak problemleri, deri hastalıkları, burkulmalar, kalp hastalıkları, akciğer hastalıkları, bağırsak hastalıkları, tümörler, kanser gibi bir dolu hastalık görülmektedir. Yani onların da sahiplerininkine benzer hastalıkları vardır. Patricia Ann Hellinger’e göre, köpekler ile sahipleri arasındaki sıkı bağ nedeniyle, sahibinin  hastalığını köpek de üstlenir. Hatta, daha sahibinde hastalık başlamadan evvel o hastalık, önce köpekte görülür.   Sahibi iyileşmeden köpek de iyileşmez. Aynı şey, sahibine aşırı bağlı kediler için de geçerli.Bu durum , bahçede , dışarıda bakılan hayvanlardan ziyade , evin içinde bakılan hayvanlar için daha  geçerlidir.
</p>
<p>
Kedi ve Köpeklerde Homeopatik Bakım kitabının yazarı, Homeopat-Veteriner Hekim Don Hamilton’a göre de, hayvan sahibinin stresi ile hayvanın deneyimlediği rahatsızlık arasında sıkı bir bağıntı mevcuttur. Hayvan sahipleri ve hayvanlarda genellikle aynı hastalıklar görülür ve aynı homeopatik remedilerle tedavi edilebilirler.
</p>
<p>
Yaşadığımız stresin, hayatı bizimle paylaşan kedimiz/köpeğimiz üzerinde ne boyutta etki yaratacağını kestirebilmemiz pek mümkün değil kuşkusuz.Örneğin;Ev halkından bir bireyin geçirdiği bir kaza ve sonrasında yaşadığı sakatlık durumu, evdeki kedi ya da köpekte idiopatik epileptik nöbetlere yol açabilir. Hayvanlar, bir nevi, evdeki stresin barometresidir.  Hayvan sahipleri, kendi duygusal durumlarını bütünüyle fark etmeyebilir, ancak hayvanlar, sahiplerinin bilinç ya a duygularını sezerler. Örneğin; sahibinin bilinçaltının derinliklerinde yatan bir tehlike korkusunu hisseden köpeği, en hafif bir gürültüde bile havlayarak, sürekli tetikte bekleyebilir.Hatta ev hayvanlarımız, bizim stresimizin  bir kısmını alıp, kendileri hastalanabilir. Mevcut yaşam kaosunda, sakin kalabilmek çok büyük bir duygusal ve ruhsal stabiliteyi gerektiriyor, ama unutmayalım ki evdeki  küçük dostlarımızın sağlığı da bizim sağlığımızla doğrudan ilintili.
</p>
<p>
 Kaza ve yaralanmalarla oluşan sağlık sorunlarının  dışında kalan sorunların çoğunun altındaki neden, stres diyebiliriz.Bedensel hastalıkların büyük bölümünü kronik hastalıklar oluşturur. Kronik dehidratasyon, enflamasyon gibi. Nedeni stres.Stres durumunda, hücreler bedendeki enerjiyi korumak amacıyla kapandığında, oksijen hücreye giremez, besinler  hücreye giremez, glikoz hücreye giremez, hücrenin güç kaynakları aç kalır  ve işlevini sürdüremez hale gelip ölürler. Hastalıklar ortaya çıkar.
</p>
<p>
Öte yandan, doğru kaynaklarla beslenme de en az stresden uzak bir yaşam kadar sağlık üzerine  etkilidir. Mutlu bir evde yaşayan ve sağlıklı gıdalarla beslenen ev hayvanları ,sağlıklı olurlar. Ancak, çeşitli sebeplerden, evdeki kedi ya da köpeğiniz mutsuz ise, bu durum onların hasta olmalarına zemin hazırlar.Bir de sağlıksız besleniyorlarsa, hastalığa davetiye çıkartılmış olur.  Sağlıklı beslenme önemlidir, sağlıksız gıdalarla beslenen hayvanların bilinçaltı, bu gıdalarla beslenmeyi sabote eder ve hastalıklara yol açılır. Acaba, yedikleri ticari mamalar, onların bilinçaltı tarafından sağlıklı bulunmuyor mu?  Hastalıklar öyle çok arttı ki,  insan düşünmeden edemiyor.
</p>
<p>
 Hayvanların 6. hissi çok kuvvetlidir. Hayatta kalmak ve avlanmak için hep 6. Hislerinden faydalanırlar. Kendi doğasında yaşayan hayvanlar, sağlıklı gıdaları bulur o şekilde beslenirler. Hastalıkların zeminini stres oluşturur. Ev hayvanlarında görülen stres tabanlı kronik enflamatuar hastalıklar, normal doğada yaşayanlarda görülmez. Onları çok seviyoruz ama, insan eliyle, istemeden onları hasta ediyor olabilir miyiz?
</p>

  </div>
  <div align="center"><img src="../imgs/footerbg.png" width="900" height="250" /> 
    </div>
    </div>
  </body>
  </html>
  