@page "/Cart4"
@inject IJSRuntime JS
<PageTitle>Koçak Veteriner | Ev Hayvanlarının Temizlği </PageTitle>
<html>
  <head>
  <title>Koçak Veteriner | Ev Hayvanlarının Temizlği </title>
  <link rel="Shortcut Icon"  href="../imgs/logo.png"  type="image/x-icon" >
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  </head>
  
  <body>
    <div width="900" align="center">
      <div align="center"><img src="../imgs/bannerbg.png" width="900" height="200" /></div>
      <div id="logo1"><a href="Anasayfa.html"></a>
      </div>
  
  <div class="footer">
    <ul class="footer">
        <li><a href="/">ANASAYFA</a></li>
        <li><a href="/Hakkimizda">HAKKIMIZDA</a></li>
        <li><a href="/Iletisim">İLETİŞİM</a></li>
        <li><a href="/Randevugiris">RANDEVU AL +</a></li>
      </ul>
  </div> 
  <table>
    <tr>
    <td></td>
    </tr>
  </table>
  <div class="cerceve">
    <h1>EV HAYVANLARININ TEMİZLĞİ</h1>
    <div align="center">
      <img src="../imgs/animal4.jpg" width="450" height="300">
    </div>
    <h4>Önlemlerimiz şöyle;</h4>
<p>
1- Onları tuvalet, egzersiz vs. ihtiyaçları için dışarı çıkarıp gezdirmek zorunda olduğumuzda, eve geldikten sonra , güvenli hale getirmeden evin içinde dolaştırmayacağız.Yani patileri başta olmak üzere, özellikle yerlere değen patilerini, ağız-burun vs. onlar için özel bir kedi-köpek şampuanı ile sileceğiz.Durulayıp, kuruladıktan sonra evde gezmelerine izin vereceğiz. 
</p>
<p>
2- Özellikle köpeklerimizi dışarıda dolaştırırken, burunlarının  sürekli yerlerde bir şeyler koklayıp, ağzına bir şeyler almalarına asla müsaade etmeyeceğiz.Unutmayalım,  Parvo viral enterit, Corona enteriti oral, Köpek Gençlik hastalığı ise  oral ve solunum yoluyla bulaşır.  Gerekirse bir yürüme eğitimi alarak, köpeğimizle yaptığımız yürüyüşleri bir egzersiz niteliğinde ve  tempolu gerçekleştireceğiz. Yürüyüş bitince, tasmayı çıkartmadan onu serbest bırakıp, çiş kaka yapmasına izin verebiliriz.Bunun için  15-20 dakikalık bir yürüşün  ardından 3-5 dakika yeterlidir.
</p>
<p>
3-Onların hastalık etkenleri ile kontamine olma ihtimali olan  yıkanabilir kıyafet, aksesuar vb. gibi   eşyalarını, en az 60 derecelik suda ve en az yarım saatlik sürede olmak üzere yıkayıp, o şekilde kullanacağız.
</p>
<p>
4-Mama kabı, su kabı, tuvalet kutusu gibi eşyalarını belli periyotlarda  bir 30 kısım suya karıştıracağınız 1 kısım çamaşır  suyundan hazırlayacağımız  dezenfektanla   yıkayabiliriz.( 1 lt suya, 1/3 çay bardağı çamaşır suyu)
</p>
<p>
5-Evimizde izde köpeğimizin yattığı yerleri, 1 lt suya karıştıracağımız 1 yemek kaşığı arap sabunlu su ile silebiliriz.
</p>
<p>
6-Ferah ve temiz bir oda için, yarım litre sıcak suya ekleyeceğimiz yarım çay kaşığı karbonat ve 1 çay kaşığı limon suyu ile hazırladığımız karışıma 3-4 damla yasemin, çam vs. uçucu yağlardan istediğimiz birini ekleyerek, doğal ve zararsız bir oda spreyi hazırlayabiliriz.
</p>
<p>
7-Kedilerimizi yıkayamadığınız için onları, tüylerinin arasına  karbonat döküp taramak suretiyle temizleyebiliriz.
</p>
<p>
8-Evde yaşayan köpeklerimizi, onlar için uygun  olan bir şampuanla 2-8 hafta ara ile yıkayabilirsiniz.
</p>
<p>
9-Köpek veya kedimizle aynı yatakta yatmayalım. Yatak odamızda olsalar bile, onlar kendilerine ait minderlerinde uyusunlar. Yanımızda yatmalarına izin vermeyelim.
</p>
<p>
 10-Kapımızın önündeki paspasımızı  1/10’luk çamaşır suyu ile dezenfeksiyon için ıslak tutabilir, eve girerken ayakkabılarımızı silerek, hem onlar hem kendimiz için dışarıdan hastalık etkeni taşımayı önleyebiliriz.
</p>
 
  </div>
  <div align="center"><img src="../imgs/footerbg.png" width="900" height="250" /> 
    </div>
    </div>
  </body>
  </html>
  