@page "/Cart2"
@inject IJSRuntime JS
<PageTitle>Koçak Veteriner | Hayvanlarda Homepati</PageTitle>

<html>
  <head>
  <title>Koçak Veteriner | Hayvanlarda Homepati </title>
  <link rel="Shortcut Icon"  href="../imgs/logo.png"  type="image/x-icon" >
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  </head>
  
  <body>
    <div width="900" align="center">
      <div align="center"><img src="../imgs/bannerbg.png" width="900" height="200" /></div>
      <div id="logo1"><a href="Anasayfa.html"></a>
      </div>
  
  <div class="footer">
    <ul class="footer">
       <li><a href="/">ANASAYFA</a></li>
        <li><a href="/Hakkimizda">HAKKIMIZDA</a></li>
        <li><a href="/Iletisim">İLETİŞİM</a></li>
        <li><a href="/Randevugiris">RANDEVU AL +</a></li>
      </ul>
  </div> 
  <table>
    <tr>
    <td></td>
    </tr>
  </table>
  <div class="cerceve">
    <h1>HAYVANLARDA HOMEOPATİ</h1>
    <div align="center">
      <img src="../imgs/saskın2.jpeg" width="450" height="300">
    </div>

<h4>Sağlığın kontrolinde güvenli seçenek:Homeopati</h4>

<h5>Eklem yangısında sarmaşığın, göz problemlerinde ayı kulağının iyi geldiğini biliyormuydunuz?</h5>
<p>
Hipokrat zamanından beri, hastalıkların tedavilerinde bitkilerin ve diğer doğal kaynakların kullanıldığı bilinir.19.yy başlarında Alman fizikçi Samuel Hahnemann tarafından geliştirilen Tıp sistemi, Homeopati olarak adlandırılır. Avrupalı doktorlar bu sistemi Amerika’ya 1825’de getirmişlerdir. 1800’lerin ortalarında doktorlar, okullar açıp, medikal organizasyonlar oluşturmuşlardır.
</p>
<p>
Bu yüzyıla gelindiğinde,Amerika’da 22 homeopatik tıp okulu olduğu görülür. 1940’lı yıllarda homeopatik ilaçların kullanımında  gerileme kaydedilmiş,ancak , son yıllarda , holistik sağlık hareketleri ve sağlığın korunmasında doğal yollara yöneliş ile konuya duyulan ilgi artmıştır.
</p>
<p> 
Homeopati, insanlara olduğu gibi hayvanlara da yardım sağlar. Homeopatik Veteriner Tıb’bında,  tedavide alternatif yaklaşımlar, pet sahiplerinin ilgisini çekmektedir.
</p>

<h4>Homeopati Nedir?</h4>
<p>
Sıklıkla;herbal tıp, bitkisel tedavi olarak bilinse de, Homeopati aslında bitkilerden ve onların kullanımından farklı bir tıp dalıdır. Homeopatinin temel aldığı prensipler, hastalık ve onun çaresi arasındaki benzerliğe dayanır. Sağlıklı bir insanda ya da hayvanda bazı semptomlara yol açan bir madde,aynı semptomları gösteren bir hastayı aynı zamanda iyileştirir. Örneğin;sarmaşık zehiri, dokunulduğunda akut deri irritasyonuna ve kaşınmaya neden olurken, homeopatik bir ilaç olan rhus toxicodendron sarmaşık zehirinden yapılır ve özellikle eklemlerdeki yangıyı iyileştirir. Hastalığa yol açan nesnenin aynı zamanda iyileştirici olması,Homeopatinin paradoksal bir özelliğidir.
</p>
<p>
Geleneksel ilaçlar, allopatik(= allopathic) olarak adlandırılır.  Allopatik doktorlar, vücutta yanlış giden bir durumu, problem olarak görüp düzeltmeyi amaçlarlar.Homeopati ile ilgilenen doktorlara ve veteriner hekimlere Homeopat denir. Homeopatlar, vücuttaki semptomları bedenin kendi kendini iyileştirme çabası olarak görürler ve vücudun kendi kendini iyileştirme sürecini destekleyici tedavi öngörürler.
</p>
<p> 
Homeopatik Tıp’da amaç, vücudun bedensel ve zihinsel sağlığını restore etmektir. Geleneksel doktor, tedavi için semptomları durdururken, homeopat, semptomlar durmadan tedaviyi bırakmaz.’’ Homeopathic Medicine at Home   ‘’        adlı kitabında ‘’Maesimund B. Panos’’ve ‘’Jane Heimlich’’ homeopatik tedaviyi salıncakta sallanan birini itmeye benzetirler. Siz hafifçe ittiğinizde bu geri gelişle sonuçlanır. Homeopatik ilaç, hastalığı iyileştirirken önce semptomları arttırarak, ve sonra  salıncağın geri gelişinde olduğu gibi, hastaya  kuvvet kazandırarak iyileştirir.
</p>
<p>
Homeopatik ilaçlar;bitki, hayvan, mineral  kaynaklar gibi doğal maddelerden yapılır. Bunlar sağlığı tehdit eden şeylere karşı, immun sistemi uyarırlar. Homeopatide hastalığın tanısı,ikinci  plandadır. Homeopatlar hastanın semptomlarına göre hastayı tedavi ederler.
</p>

  </div>
  <div align="center"><img src="../imgs/footerbg.png" width="900" height="250" /> 
    </div>
    </div>
  </body>
  </html>
  