@page "/Cart1"
@inject IJSRuntime JS
<PageTitle>Koçak Veteriner | Kedilerde Kanser</PageTitle>

<html>
  <head>
  <title>Koçak Veteriner | Kedilerde Kanser</title>
  <link rel="Shortcut Icon"  href="../imgs/logo.png"  type="image/x-icon" >
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  </head>
  
  <body>
    <div width="900" align="center">
      <div align="center"><img src="../imgs/bannerbg.png" width="900" height="200" /></div>
      <div id="logo1"><a href="Anasayfa.html"></a>
      </div>
  
  <div class="footer">
    <ul class="footer">
      <li><a href="/">ANASAYFA</a></li>
        <li><a href="/Hakkimizda">HAKKIMIZDA</a></li>
        <li><a href="/Iletisim">İLETİŞİM</a></li>
        <li><a href="/Randevugiris">RANDEVU AL +</a></li>
      </ul>
  </div> 
  <table>
    <tr>
    <td></td>
    </tr>
  </table>
  <div class="cerceve">
    <h1>KEDİLERDE KANSER</h1>
    <div align="center">
      <img src="../imgs/kedi1.jpg" width="450" height="300">
    </div>
    <p>
10 yaşının üzerindeki kedilerin ölüm sebeplerinin yarısını oluşturan hastalığın kanser olduğunu biliyormuydunuz? Kanser, hepimizi korkutan bir hastalık, ancak bu hastalıkla başedebilmek için öncelikle, korkuyu cesarete dönüştürmemiz gerekir. Bunun için de, kanseri öğrenmemiz gerekir. Düşmanınızı tanırsanız, nasıl savaşacağınızı da bilirsiniz.Kanserin nedenlerini, belirtilerini , tedavi yöntemlerini ve güncel tedavilerini bilirsek, kanser ile savaşta galip çıkmamız mümkün.
</p>
<h4>Kanser nedir;</h4>
<p>
Nedenleri tam olarak anlaşılamamış bir hastalık. Normal vücut hücrelerinin büyüyüp, genişleyip  artarak normal dokuyu ele geçirip istila etmesi ile gelişebiliyor. Bu artan hücreler, neoplazma ya da tümör diye adlandırılan yapıları oluşturuyorlar. Zararsızlar ve çevreye zarar vermeyenleri  iyi huylu tümörler, zarar verenleri kötü huylu tümörler olarak adlandırılırlar. Kedilerde görülen tümörler , sıklıkla  kötü huylu tümörlerdendir.

<p>Kötü huylu tümörler, bir yere lokalize olabildikleri gibi, vücuda dağılıp yayılma eğilimi de gösterirler. Bu durum, metastaz olarak adlandırılır. Kötü huylu tümörler kansere yol açarlar. Normal vücut yapılanmasını bozup, ölüme sebebiyet verirler.Kaliforniya , Proffessional Animal Laboratory’den , Andrew S. Loar  D.V.M, kedi kanserlerinin yaygınlığına ilişkin çalışmaların yetersizliğini  açıklarken,  Barbara E.Kitchell D.V.M , yayınladığı makalesinde, kedilerdeki tümörlerin %80’nin kötü huylu olduğunu bildirmiştir.  (Feline Geriatric Oncology –Eylül, 1989)
</p>

<p>
Kanser, özellikle yaşlı kedilerin hastalığıdır. Tümör görülme sıklığı yaşla birlikte artar. American Veterinary Medical Association’a göre, 10 yaşından büyük kedilerin, ölümlerinin yarısını kanser oluşturmaktadır. Konuyla ilgilenen veteriner hekimler, kanserin en az insanlardaki kadar yaygınlığına dikkat çekiyorlar.
</p>     
  
<h4>Kanserin nedenleri;</h4>

<p>Kansere tam olarak nelerin sebep olduğu bilinmemekte.İnsanlarda kansere sebep olan ajanlardan (=kanserojen) bazılarının kedilerde de kanser oluşumunda rol oynadığı bildirilmiştir. Kediler, yaşamları boyunca bu kanserojen ajanlara kümülatif olarak yani bedenlerinde biriktire biriktire maruz kalırlar. Hastalığın yaşlılarda daha sık ortaya çıkmasının sebebi budur.
</p>
Tanımlanan kanserojen ajanlar şunlardır;

<h4>Enfeksiyöz ajanlar:</h4>

<p>-Felinre Leukemia virusu(FeLV):5 kediden birinde lenfosarkom ve kemikiliği kanserine neden olur. FeLV’nin değişen formu, Feline Sarkoma virusu olarak adlandırılır ve bağ dokuda kansere (fibrosarkom) neden olur.

-Kedi AIDS virusu. Diğer kedi kanserleri feline  immun yetmezlik virusu olan kedi AIDS virusu ile ilintilidir.Bu hastalıkları aşılar ile ya da başka önlemler ile engellemek, virus bağlantılı kanserlerin oluşma şansını azaltır.
</p>

<h4>Gün ışığı:</h4>

<p>Aşırı güneş ışığına maruz kalma, skuamoz hücre kanseri diye adlandırılan deri kanserine eşlik eder. Bu, kulak ve yüzde kepeklenme ile ortaya çıkar. Özellikle, beyaz tüylü ya da seyrek tüylü kedilerde görülür. Yaşlı, sokakta yaşayan kediler uzun süre güneşe maruz kaldıklarından tehlikede olsalar da, ev kedileri de kurban olabilirler.
</p>

<h4>Hormon ilintili kanser:</h4>

İlk kızgınlık siklusundan önce kısırlaştırmak, kedilerin meme kanseri riskini büyük oranda azaltır. 1 yaşından önce kısırlaştırılanlarda meme kanseri oldukça nadir görülür.Kısırlaştırılmış erkek veya dişilerde Megestrol acetat hormonu kullanımının meme kanserine yol açtığı bildirilmiştir. Bu bir progesteron bileşimi olup, idrar sıçratma gibi, davranış değişikliği tedavisinde kullanılır. Öte yandan, progesteron kullanımının erkek kedilerde de meme kanserine yol açtığına dair yayınlar vardır.
      
      <div align="center">
        <img src="" width="300">
      </div>
    </p>
   </div>
  <div align="center"><img src="../imgs/footerbg.png" width="900" height="250" /> 
    </div>
    </div>
  
  </body>
  </html>
  