@page "/Iletisim"
@inject IJSRuntime JS
<PageTitle>Koçak Veteriner | Iletisim</PageTitle>


<html>
  <head>
  <title>Koçak Veteriner | İLETİŞİM</title>
  <link rel="Shortcut Icon"  href="imgs/logo.png"  type="image/x-icon" >
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  <link rel="stylesheet" type="text/css" href="../css/iletisim.css" />
  <link rel="stylesheet" type="text/css" href="../css/ilankart.css"/>
  </head>
  
  <body>
    <div width="900" align="center">
      <div align="center"><img src="imgs/bannerbg.png" width="900" height="200" /></div>
      <div id="logo1"><a href="Anasayfa.html"></a>
      </div>
  
  <div class="footer">
    <ul class="footer">
      <li><a href="/">ANASAYFA</a></li>
    <li><a href="/Hakkimizda">HAKKIMIZDA</a></li>
    <li><a href="/Iletisim">İLETİŞİM</a></li>
    <li><a href="/Randevugiris">RANDEVU AL +</a></li>
      </ul>
  </div> 
      <table>
        <tr>
        <td></td>
        </tr>
      </table>
      <div class="cerceve">
        <h1>ILETIŞIM</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12251.289478904415!2d37.207287227791724!3d39.855813593213014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x407bf81187ef786b%3A0x5354cbd30cf5592!2sSofular%2C%2058762%20Sofular%2FHafik%2FSivas!5e0!3m2!1str!2str!4v1680098466371!5m2!1str!2str" width="880" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        
    
        <div class="container" >
          <div class="ilankart2">
            <img src="imgs/Phone.png" height="100" width="100"> 
              <h3 class="ilan_ismi">TELEFON</h3>
              <p class="ilan_acıklama"> 
                <a href="#">(0346) 458 5806</a> <br>
                <a href="#">+90 553 858 5806</a>
                </p>
          </div>

          <div class="container" >
            <div class="ilankart2">
              <img src="imgs/email.png" height="100" width="100"> 
                <h3 class="ilan_ismi">E_MAİL</h3>
                <p class="ilan_acıklama"> 
                  <a href="#">kocakveteriner@gmail.com</a>
               </p>
            </div>
      </div>
        </div>



        <div class="container2">
          <form id="contact" action="" method="">
          <div class="form-control">
          <input placeholder="Adınız Soyadınız" type="text" required autofocus>
          </div>
          <div class="form-control">
          <input placeholder="E-Posta Adresiniz" type="email" required>
          </div>
          <div class="form-control">
          <input placeholder="Konu" type="text" required>
          </div>
          <div class="form-control">
          <textarea placeholder="Lütfen Mesajınızı Buraya Yazın.." required></textarea>
          </div>
          <div class="form-control">
          <button name="submit" type="submit" id="submit">GÖNDER</button>
          </div>
          </form>
          </div>
        </div>
      <div align="center"><img src="imgs/footerbg.png" width="900" height="250" /> 
     </div>
    </div>
  
  </body>
  </html>
  