@page "/Cart6"
@inject IJSRuntime JS
<PageTitle>Koçak Veteriner | Köpeklere kemik vermeli miyiz? </PageTitle>

<html>
  <head>
  <title>Koçak Veteriner | </title>
  <link rel="Shortcut Icon"  href="../imgs/logo.png"  type="image/x-icon" >
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  </head>
  
  <body>
    <div width="900" align="center">
      <div align="center"><img src="../imgs/bannerbg.png" width="900" height="200" /></div>
      <div id="logo1"><a href="Anasayfa.html"></a>
      </div>
  
  <div class="footer">
    <ul class="footer">
      <li><a href="/">ANASAYFA</a></li>
        <li><a href="/Hakkimizda">HAKKIMIZDA</a></li>
        <li><a href="/Iletisim">İLETİŞİM</a></li>
        <li><a href="/Randevugiris">RANDEVU AL +</a></li>
      </ul>
  </div> 
  <table>
    <tr>
    <td></td>
    </tr>
  </table>
  <div class="cerceve">
    <h1>Köpeklere kemik vermeli miyiz?</h1>
    <div align="center">
      <img src="../imgs/kangalboys6.jpg" width="450" height="300">
    </div>
<p>
Evet, köpeklerimize kemik vermeliyiz. Kemik yemek köpekler üzerinde duygusal yararlar sağlarlar. Çiğneme, doğal bir köpek davranışıdır. Zihinsel bir uyarı sağlar. Stres attırıcıdırlar.Kemik, dişlerin temizlenmesine de katkı sağlar.
</p>

<h4>Kemik çiği mi pişmiş mi verilmelidir?</h4>
<p>
Köpeklere pişmiş kemik verilmesi güvenli değildir.Pişmiş kemik daha sert ve kırılgandır. Çiğ vermek gerekir. Öte yandan , çiğ kemikler de , uzun süre dışarıda bırakılırsa,  Salmonella gibi gıda kaynaklı patojenler  ile kontamine olabilir. Yani, çiğ ama hijyenik kemik vermek gereklidir. Pişmiş kemik, parçalara ayrılır. Çiğ kemik,parçalara ayrılma eğilimi göstermez.Her türden pişmiş kemikler tehlikeli olabilir çünkü kırılır ve küçük, keskin parçalara bölünürler. Kemik kırıkları,ağız, dil veya diş yaralanmaları,boğulma,ağızda kesikler ve yaralar,kusma ve ishal,şiddetli kabızlık,bağırsak tıkanması gibi sağlık sorunlarına neden olabilir. Gastrointestinal kanaldan geçerken çok fazla zarar verebilecek keskin parçalara kolayca kırılırlar .Kısacası, köpeğinizi pişmiş kemiklerle beslemeyin. 
</p>
<h4>Köpeklere kemik neden verilir?</h4>
<p>
Köpeklere kemik iki açıdan verilir. Birincisi gıda amaçlı, yani karnı doysun diye. İkincisi  ise dinlenirken oyalanmak maksadıyla.Dinlenirken kemirmesi için verilen kemikler kasaptan alınabilir.Bu, hem köpeği mutlu tutmak, hem de onu bir süre yaramazlıktan uzak tutmak için yararlıdır. Genellikle büyük kemik tercih edilmelidir. Çünkü küçük kemikleri köpek yerken boğazında takılıp boğulmalara sebep olabilir.Kırılmayacak ve hayvanı boğmayacak büyüklükte kemik idealdir.Ancak büyük kemiklerde de şöyle bir risk var. Köpeğin dişi kırılabilir.
</p>
<h4>Kemiği oyalansın diye mi karnı doysun diye mi vermek gerekir?</h4>
<p>
Kemiği, eti ile beraber , öğün olarak vermek doğal hayata daha uygundur. Eğer oyalansın diye veriyorsak, yemeğini yedikten sonra tok karna vermek daha doğrudur.Tok karna verilirse, kemik parçalarının mide bağırsak ortamına batmaması için dolu midedeki besinler bariyer oluşturur. Aç midede bu kemikler batıp, zarar verici olabilir.
</p>
<h4>Kemik yemek doğaldır. Öyleyse ya  kırılmış dişler?Doğada neden dişleri kırılmıyor?</h4>
<p>
Büyük kemikleri kemirmek evcil köpeklerin zaman geçirmelerinin bir yolu olsa da, sandığımız gibi doğal davranış değildir. Yabani hayatta kemikler, en son tüketilir. Midedeki besinler ,sivri kenarlara karşı bir miktar korunma sağlar.Yani, yabani köpekler, kemiği, avı yerken gıda olarak yer, oyalanmak için değil. Hatta, yabani köpekler, gıda kaynakları yetersiz olmadığı sürece, bir karkas üzerinde genellikle zor kemikleri  bırakırlar. O yüzden de doğadaki köpekler dişlerini kolay kolay kırmazlar. Tarihsel kayıtlar, gıda rekabeti yoğun olduğunda etoburlarda daha yüksek kırık diş seviyeleri olduğunu göstermektedir. Büyük "yuvarlak" kemikler  bile, yerken,  kırık dişlere, diş kökünün enfeksiyonlarına, apselere ve diğer sağlık sorunlarına neden olabilir.
</p>
<h4>Kemiğin boyutu nasıl olmalıdır?</h4>
<p>
Genel bir kural olarak, eğer bir kemik köpeğinizden daha büyük bir hayvanın ağırlık taşıyan bir kemiği (yani bacak kemiği) ise, o kemiği vermek,  yerken boğulmaması  için muhtemelen en güvenlidir, ama bu kemiklerin sert ve güçlü olmaları nedeniyle köpeğinizin dişlerini kırma riski de  muhtemeldir.
</p>
<p>
Küçük hayvanların, tavşanların, tavukların vb. köpeğinizin dişlerini kırma olasılığı daha düşüktür.Ancak bu da güvenli değildir. Yerken boğazına takılıp boğulabilirler. Herhangi bir kemik küçük parçalara  bölünerek çiğnendiğinde boğulma tehlikesine neden olabilir. Bu nedenle, çiğneme sırasında her zaman köpeğinizi denetlemeli ve ağızlarından daha küçük bir boyuta geldiğinde kemiklerini almalısınız.
</p>
<h4>Köpekler kemikleri sindirebilir mi?</h4>
<p>
Bir köpeğin sindirim sistemi insanlardan çok daha kısadır ve özellikle et ve kemiği birlikte sindirmek için tasarlanmıştır.Köpeğiniz genellikle, diyetinin bir parçası olarak et ve kemiğin beraberce beslenmesi koşuluyla, herhangi bir sorun yaşamadan yediği tüm kemiği sindirir.Kemik yedikten sonra suya yeterli erişime sahip olmayan köpeklerde kabızlık  olabilir.
</p>

<h4>Köpekler kaburga kemiklerini yiyebilir mi?</h4>
<p>
Köpeğinizin, inek ve koyun gibi daha büyük hayvanların kaburga kemiği iyi bir seçim olabilir.Kaburga kemikleri ,bacak kemiklerinden daha esnek ve daha yumuşak olma eğilimindedir ve köpekler onları daha kolay tüketebilir.Ancak, köpeğiniz güzel bir çiğ kaburga kemiğini yerken  bazı kıymıklar görebilirsiniz . Kemiklerin kıymıkları köpeğin sindirim sistemine zarar verebilir. Birçok insan zarar görmeden köpeklerini kaburga kemikleri ile besliyorlar. Sonuç olarak, köpeğiniz çiğ kemikleri  yerse, onları küçük, keskin görünümlü parçalara böler ve onları yutabilir. Ancak, uzmanların çoğunun hemfikir olduğu şey, çiğ etle beslenen köpeklerin, yedikleri kemiği etlerle birlikte yerlerse,  kemik zararlarından  korunabileceğidir. Yani, kemikler dinlenme anında oyalansın diye değil de öğün olarak etle beraber verilirse daha güvenlidir. Bu nedenle, çiğ kemikler risksiz olmasa da bir tehdit olmadıkları açıktır.
</p>

<h4> Ne sıklıkla kemik verebilirim?</h4>
<p>
Haftada 2 kez çiğ kemik verilebilir. Her bir öğünde 1’den fazla vermemek uygundur. Fazlası kabızlığa neden olabilir.
</p>
<h4>Ya, tavuk kemikleri?</h4>
<p>
Pişmiş tavuk kemikleri yukarıda verilen nedenlerden dolayı tehlikeli olabilir. Ancak çiğ tavuk veya hindi kemikleri,etleriyle beraber verilirse,  çiğ beslenen köpeklerin beslenmesinin temel bir parçasıdır.
</p>
  </div>
  <div align="center"><img src="../imgs/footerbg.png" width="900" height="250" /> 
    </div>
    </div>
  </body>
  </html>
  

