@page "/Cart3"
@inject IJSRuntime JS
<PageTitle>Koçak Veteriner | Köpeklerde Ayurveda </PageTitle>

<html>
  <head>
  <title>Koçak Veteriner | Köpeklerde Ayurveda </title>
  <link rel="Shortcut Icon"  href="../imgs/logo.png"  type="image/x-icon" >
  <link rel="stylesheet" type="text/css" href="../css/style.css" />
  </head>
  
  <body>
    <div width="900" align="center">
      <div align="center"><img src="../imgs/bannerbg.png" width="900" height="200" /></div>
      <div id="logo1"><a href="Anasayfa.html"></a>
      </div>
  
  <div class="footer">
    <ul class="footer">
        <li><a href="/">ANASAYFA</a></li>
        <li><a href="/Hakkimizda">HAKKIMIZDA</a></li>
        <li><a href="/Iletisim">İLETİŞİM</a></li>
        <li><a href="/Randevugiris">RANDEVU AL +</a></li>
      </ul>
  </div> 
  <table>
    <tr>
    <td></td>
    </tr>
  </table>
  <div class="cerceve">
    <h1>KÖPEKLERDE AYURVEDA</h1>
    <div align="center">
      <img src="../imgs/kopek3.jpg" width="450" height="300">
    </div>

    <h4>Sağlık İçin Ayurveda Geleneği</h4>
<p>
Köpeğinizin doshasını biliyorsanız, onu hastalıklardan korumanız ve hep sağlıklı  kalmasını sağlamanız mümkündür.Peki dosha nedir? Bir canlının DNA’sı; o canlının tüm hayatının, hangi hastalıklara yakalanıp, ne karakter ve fizik yapısına sahip olacağının ana hatları ile bilgisini içerir. Canlının doğuştan getirdiği beden tipi, Ayurveda  sisteminde dosha olarak adlandırılır. 
</p>
<p>
Ayurveda, Hint kökenli bir Tıp sistemidir. M.Ö 1500 yıllarına dayanır. Bitki bilimi, felsefe, fiziksel sağlık, inanç, çevrecilik ve tıbbın birleşiminden ibaret bu sistem, binlerce yıldan bu yana, arındırılıp güncellenmiştir. Son dönemlerde, holistik veteriner hekimler de, ayurvedik prensipleri  ve bitkileri petlerin tedavisi için başarı ile kullanmaya başlamışlar, tedavi çemberini genişletmişlerdir.
</p>
<p>
Ayurveda;fiziksel, duygusal, mental, karakter yapısı, eğilimler gibi bireye özel tıbbi tetkikler ile hastalıkları önleyici bir güçtür. Ayurvedanın felsefesi, güçlerin dengesi ve elementlerin etkileşimlerine dayanır. Ayurvedik kavramda, Vata, Pitta, ve Kapha diye üç dosha vardır. Dosha, vücudun hangi element ve enerjilerin hakimiyetinde olduğunu tanımlar.
</p>
<p>
Köpeğiniz bir veya birden fazla doshaya sahip olabilir. Ya da, sağlığı bir doshada iken, karakteri ve diğer eğilimleri diğer doshaların etkisinde dengesiz olabilir. Örneğin;Kapha, çok fazla yer ve kilo alır. Eğer köpeğinizin daima iyi bir kas yapısı varsa, Pitta karakterindedir.Aniden kilo almaya başlarsa, Kapha etkisi Pitta’yı yenip, etki egemenliğini eline geçirmiştir.
</p>
<p>
Kötü gıda, kötü alışkanlıklar, hava değişimi, yeni çevre, stres ve büyüme dengesizlikle sonuçlanabilir. Köpeğinizin doğal doshasını bir kez belirledikten sonra, hastalık ve değişiklikleri belirlemek kolaydır. Dengeli, güçlendirilmiş bir dosha yiyecekler, ek gıda ve bitkisel katkılarla mümkündür. Böylece köpek dengede kalır.
</p>
<p>
Vata, en güçlü doshadır. Solunum, dolaşım gibi vücuttaki hareketleri kontrol eder. Bir Vata köpeği; ince yapılı, atik, hızlı, uzun boylu ve narin yapılıdır. Hareketleri hızlıdır. Aşı Vata doshası, kilo kaybı, sinir irritasyonu, yüksek kan basıncı , şişkinlik ve kafa karışıklığı yapar. “Vata azlığı ise, kabızlığa yol açar.
</p>
<p>
Pitta;metabolizmadan, sindirimden, açlık susuzluk gibi aktivitelerden, mental durumdan sorumludur. Pitta köpekleri kaplan gibidir.Atletiktir. Rekabetçidir. Sağlam ve sıkı kas yapıları vardırHuy yapıları ateşlidir. Zeki ve açık zihinlidirler. Aşırı Pitta; ülser, gastrit, hormonal problemler, deri problemleri gibi hastalıklara ve aksi karaktere ise, yol açar,  Az Pitta ise, hazımsızlık, algıda güçlük, yavaş metabolizmaya neden olur.
</p>
<p>
Kapha; diğer doshaları düzenler. Vücudun yapısını korur. Yağlanma, kilo ve sağlamlığı korur. Kapha köpekleri; büyük cüsselidir, geniştir, dikkatlidir, yavaştır. Ayıya benzer görünümleri vardır. Cesaretli ve sabırlıdırlar. Kapha fazlalığı,sinüslerde ve akciğerlerde  müköz yapılanmaya yol açar. Ayrıca; şişmanlık, diyabet, dolaşım ve sindirim bozukluğu yapar.
</p>
<p>
  Birçok holistik veteriner hekim, geleneksel tedavi yöntemleri ile beraber ayurvedayı da tedavi ve koruyucu hekimlikte kullanır. Ayurvedik veteriner hekimler ; bitki, diyet, egzersiz masaj gibi tedavi ve iyileştirmeyi hızlandırıcı uygulamaları da kullanırlar. 
</p>
<p>
Köpeğinizin dosha eğilimini belirledikten sonra, dosha dengesi gıda ve bitkisel katkılarla korunabilir. Vata eğilimini azaltmak için bazı gıdalardan kaçınmak gerekir. Çiçek yağı, yeşil taneli sebzeler, kuru meyveler, fasülye filizleri, patates, nane, sığır eti, ve tavşan eti vatayı azaltır. Karahindiba, kaba yonca , acı buruk lezzettler ise vatayı arttırır.
</p>
<p>
Pittayı korumak için, tahıl,esmer pirinç, havuç, sarımsak, sığır ve kuzu eti, peynir, mercimek, sıvı yağ  gibi gıdaları azaltmak gerekir. Pittayı arttırmak için ise, tuzlu yemek gerekir. Kapha için de tuz arttırıcıdır. Acı gıdalar ve baharatlar, Pitta ve Vata’yı arttırırlar.Üzüm gibi tatlı gıdalar Kapha’yı arttırırken, Pitta ve Vata’yı azaltırlar.
</p>
<p>
Kapha’yı azaltmak için uzak durulması gereken gıdalar; arpa, yulaf, pirinç, kuzu ve sığır eti, domuz eti, tuz ve tatlı gıdalardır.
</p>
  </div>
  <div align="center"><img src="../imgs/footerbg.png" width="900" height="250" /> 
    </div>
    </div>
  </body>
  </html>
  

